<div class="nav-container">
    <div class="logo">
        <a href="/" class="logo-link">FINANCE HUB</a>
    </div>
    <div class="menu">
        <a routerLink="/" class="nav-link">HOME</a>
        <a href="#" class="nav-link">FEATURES</a>
        <a href="#" class="nav-link">PRICING</a>
        <a href="#" class="nav-link">ABOUT</a>
        <a routerLink="/login" class="nav-link sign-in">SIG IN</a>
        <a routerLink="/register" class="nav-link get-started">GET STARTED</a>
    </div>
</div>