<app-managernav *ngIf="isLoggedIn() && isRegionalManager()"></app-managernav>
<app-usernav *ngIf="isLoggedIn() && isCustomer()"></app-usernav>
<app-navbar *ngIf="!isLoggedIn()"></app-navbar>


<div *ngIf="!isLoggedIn()">
</div>
<body>
    <div class="welcome-message" id="welcomeMessage">Welcome to Finance Hub!</div>
    <section id="home" class="hero">
        <div class="carousel">
            <div class="carousel-inner">
                <div class="carousel-item">
                    <img src="assets/home/1.jpg" alt="Image 1">
                </div>
                <div class="carousel-item">
                    <img src="assets/home/2.png" alt="Image 2">
                </div>
                <div class="carousel-item">
                    <img src="assets/home/3.jpg" alt="Image 3">
                </div>
            </div>

        </div>
        <!-- <div class="welcome-message" id="welcomeMessage">Welcome to Finance Hub!</div> -->
    </section>
    <div class="columns">
        <div class="column">
            <h2>Regional Manager</h2>
            <ul>
                <li>Effortless creation of accounts and secure log in</li>
                <li>Secure and seamless management</li>
                <li>Manage Savings Plans</li>
                <li>Create, view, edit, or delete Savings Plans as needed</li>
                <li>Review Customer Application forms and update them promtly</li>
                <li>Monitor feedback and address customer concerns effectively</li>
            </ul>
        </div>
        <div class="column">
            <h2>Customers</h2>
            <ul>
                <li>Register easily and log in securely</li>
                <li>Explore savings plans</li>
                <li>Conveniently apply for the Savings Plans that best suit your needs</li>
                <li>Track application forms and delete those no longer needed</li>
                <li>Submit feedback and review responses</li>
            </ul>
        </div>
    </div>
    <section id="small-images" class="small-images">
        <div class="small-image">

            <img src="assets/home/s1.jpg" alt="Small Image 1">

        </div>
        <div class="small-image">
            <img src="assets/home/s2.jpg" alt="Small Image 2">
        </div>
        <div class="small-image">
            <img src="assets/home/s3.jpg" alt="Small Image 3">
        </div>
    </section>

</body>


